
body {
    font-family: 'ARCO', 'Courier New', Courier, monospace;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: 'ARCO';
    src: url('fonts/ARCO.ttf') format('truetype');
    
}

#conversor {
    background-color: #fafafa;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, select, button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ccc;
    width: calc(100% - 24px);
    font-family: 'ARCO', 'Courier New', Courier, monospace; 
    font-size: 16px; 
    outline: none;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

#conversor {
    height: auto;
}

.select-container {
    display: flex;
    align-items: center;
}

.bandera {
    width: 40px; 
    height: auto; 
    margin-left: 10px; 
    vertical-align: middle; 
}

.divisa-container {
    display: flex;
    align-items: center;
}
